@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import 'scrollbar.css';

:root {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  overflow-x: hidden;
}
